<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Materia </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="cuatri">
            <th mat-header-cell *matHeaderCellDef> Cuatrimestre </th>
            <td mat-cell *matCellDef="let element"> {{element.cuatri}} </td>
        </ng-container>

        <ng-container matColumnDef="anio">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
        </ng-container>

        <ng-container matColumnDef="profe">
            <th mat-header-cell *matHeaderCellDef> Profesor </th>
            <td mat-cell *matCellDef="let element"> {{element.profe}} </td>
        </ng-container>

        <ng-container matColumnDef="cupo">
            <th mat-header-cell *matHeaderCellDef> Cupo </th>
            <td mat-cell *matCellDef="let element"> {{element.cupo}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" *ngIf="!isAlumno"
                    (click)="editarMateria(element.id, element.nombre, element.cuatri, element.cupo)"
                    [disabled]="isUpdate">Agregar
                    Alumnos</button>

                <button mat-raised-button color="primary"
                    (click)="editarMateria(element.id, element.nombre, element.cuatri, element.cupo)"
                    [disabled]="isUpdate">Inscribirme</button>

            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!-- <div class="container">
    <app-lista-turno [listAlumnos]="listAlumnos">
    </app-lista-turno>
</div> -->